{% extends 'base.html' %}

{% block content %}
<div class="bg-white text-dark px-4 py-6 text-center">
    <h2>About Us</h2>
    <p>This project has been developed as part of the dissertation project into strategies to improve media literacy amongst the general population with the aim to reducing susceptibility to fake news.</p>
    <p>In addition to this project overview and contact details for the reserachers involved, this webpage allows you to participate in the research in your own time.</p>
</div>
{% endblock %}

