{% extends 'base.html' %}

{% block content %}
<div class="bg-white text-dark px-4 py-6 text-center">
    <h2>About the Project</h2>
    <p>In the current digital landscape, the abundance of information has led to the widespread dissemination of fake news, which poses significant challenges in shaping public opinion and democratic processes worldwide.</p>
    <p>To address this critical concern, this project - created in partial fulfillment of a master’s degree at the University of Nottingham - introduces this platform, which can be used to assess educational tools for their efficacy in improving media literacy and reducing susceptibility to fake news.</p>
    <br>
    <h3>About the Team</h3>
    <p>My name is Jemma and I am currently in the final stages of my MSc degree in Computer Science at the University of Nottingham.</p>
    <p>I have developed this platform and research study as part of my dissertation project and will use the information gathered to gain insight into ways of combatting fake news.</p>
    <p>All of the materials in this tutorial have been developed for this project and any real-life news articles have been sourced from reliable fact-checking services.</p>

</div>
{% endblock %}

