{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-white text-dark px-4 py-6 text-center">
    <h2>Consent Form</h2>
    <p>Please take the time to read and review the full ethics form below, which has been approved by the University of Nottingham Computer Science Ethics Committee.</p>
    <p>If you are still happy to proceed, please complete the details below to confirm that you have understood the details of this study and consent to participating in this study.</p>
    <br>
    <hr style="border: 1px dashed #C0C0C0" color="#FFFFFF" >
    <br>
    <div class="text-center" style="max-width: 75%; margin: 0 auto;">
        <img src="{% static 'images/UoN.png' %}" alt="University of Nottingham logo" width="300">
        <br>
        <h3>School of Computer Science</h3>
        <h4>University of Nottingham</h4>
        <br>
        <h5>Section B. Information to be provided to research participants</h5>
        <h6>Fake News Education: A new platform for assessing gamified solutions in the study of media literacy education for the purpose of reducing susceptibility to fake news.</h6>
        <br>

        <table class="table table-bordered">
            <tr>
                <td colspan="3"><h6>1. The research</h6></td>
            </tr>
            <tr>
                <td>a) Aims and objectives of the research</td>
                <td colspan="2">
                    <p>As part of my degree, I have made an educational tool to help people to identify fake news in the media, and I would like to get feedback about it and how it might be improved.</p>
                    <p>I am doing this as part of my MSc Computer Science degree at the University of Nottingham.</p>
                </td>
            </tr>
            <tr>
                <td>b) Funder information</td>
                <td colspan="2">N/A.</td>
            </tr>
            <tr>
                <td>c) Governance</td>
                <td colspan="2">This research follows a standard protocol agreed by the School of Computer Science Research Ethics Committee (CS REC), SOP1.1 and has been reviewed by my project supervisor, Jeremie Clos.</td>
            </tr>
            <tr>
                <td colspan="3"><h6>2. Taking part in the research</h6></td>
            </tr>
            <tr><td colspan="2">
                <p>This will take about 20 minutes in total and can be done online.</p>
                <p>There will be an initial questionnaire which will ask you to provide some basic demographic information about yourself, and you will then be provided with a series of news stories and will be asked to identify which ones are real and which ones are fake.</p>
                <p>I will then ask you to complete a tutorial, which aims to inform you about different strategies used by those producing fake news, and different ways to detect it.</p>
                <p>There will be a follow-up questionnaire which will ask you to repeat the initial quiz in which you were asked to identify fake news articles to assess the impact of the educational tool.</p>
                <p>There will be an optional debriefing questionnaire, which will ask about the useability of the webapp and the usefulness of the solution.</p>
            </td></tr>
            <tr>
                <td colspan="3"><h6>3. Risks of participation </h6></td>
            </tr>
            <tr>
                <td>a) Risks </td>
                <td colspan="2">
                    There is always a risk of unauthorised access to data.
                    There will be no significant risks and all precautionary steps will be taken to ensure personal data is stored securely.
                </td>
            </tr>
            <tr>
                <td>b) Mitigation of Risks</td>
                <td colspan="2">
                    See section 5 for the measures we put in place to mitigate the risk of unauthorised access.
                </td>
            </tr>
            <tr>
                <td colspan="3"><h6>4. Purpose of data processing</h6></td>
            </tr>
            <tr>
                <td>a) Data collected </td>
                <td>
                    <p>We collect the following categories of data during your participation in the research:</p>
                        <ul>
                            <li>Questionnaire data</li>
                                <ul>
                                    <li>Demographic information: age, gender, education, occupation, ethnicity</li>
                                    <li>Scores from quizzes taken before and after the treatment</li>
                                </ul>
                        </ul>
                </td>
            </tr>
            <tr>
                <td>b) Specific purposes for which the data are processed</td>
                <td>
                    <p>Data collected during the research that identifies you may be:</p>
                    <ul>
                        <li>Analysed to meet the aims and objectives described in Section 1.</li>
                        <li>Reviewed and discussed in supervision sessions between researchers and their supervisors or in research meetings between members of the research team, including project partners. If audio recordings are collected during the research, these may be transcribed and anonymous quotations of your spoken words may be used in my written dissertation and associated presentations, as well as any future academic publications or presentations about my dissertation work.</li>
                        <li>If visual images that identify you are collected during the research, they will be anonymised (e.g. faces blurred out) before being used in my written dissertation and associated presentations, or any future academic publications or presentations about my dissertation work.</li>
                    </ul>
                </td>
            </tr>

        </table>



    </div>
</div>


    <br><br>
    <hr>
    <p><b>I consent to participate in the research and my signature or mark confirms the following:</b></p>
    <p>I understand the aims and objectives of the research</p>
    <p>I understand what the research requires me to do</p>
    <p>I accept the risks of participation</p>
    <p>I understand what data will be collected and the purposes for which the data will be used</p>
    <p>I understand safeguards will be put in place to protect my data and my legal rights</p>
    <p>I understand I will not be identified unless the use of identifiable data has been requested and I consent to it</p>
    <p>I understand that I can withdraw at any time without explanation</p>
    <p>I have been able to ask questions about the research, my participation, and my data and my questions have been answered satisfactorily</p>
    <p>I agree to participate and my participation is voluntary</p>
    <hr style="border: 1px dashed #C0C0C0" color="#FFFFFF" >

    {% for message in messages %}
    <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table>
                <label>Initials
                    {{ form.initials }}
                </label>
                <br><br>
                <label>Date
                    {{ form.date }}
                </label>
                <br><br>
                <label>Please confirm that you have read and understood the information above and consent to participate in this study
                    {{ form.signed }}
                </label>
                <br><br>
                <input type="submit" value="Submit">
            </table>
        </div>
    </form>


      <br>
      <a href="{% url 'home' %}" >I think I've changed my mind, take me back</a>
      <br><br>
      </div>
    </form>
  </div>
{% endblock %}
