{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-white text-dark px-4 py-6 text-center">
    <h2>Consent Form</h2>
    <p>Please take the time to read and review the full ethics form below, which has been approved by the University of Nottingham Computer Science Ethics Committee.</p>
    <p>If you are still happy to proceed, please complete the details below to confirm that you have understood the details of this study and consent to participating in this study.</p>
    <iframe src="{% static 'pdf/ethics_form.pdf' %}" width="100%" height="500px"></iframe>
    <br><br>
    <hr>
    <p><b>I consent to participate in the research and my signature or mark confirms the following:</b></p>
    <p>I understand the aims and objectives of the research</p>
    <p>I understand what the research requires me to do</p>
    <p>I accept the risks of participation</p>
    <p>I understand what data will be collected and the purposes for which the data will be used</p>
    <p>I understand safeguards will be put in place to protect my data and my legal rights</p>
    <p>I understand I will not be identified unless the use of identifiable data has been requested and I consent to it</p>
    <p>I understand that I can withdraw at any time without explanation</p>
    <p>I have been able to ask questions about the research, my participation, and my data and my questions have been answered satisfactorily</p>
    <p>I agree to participate and my participation is voluntary</p>
    <hr style="border: 1px dashed #C0C0C0" color="#FFFFFF" >

    {% for message in messages %}
    <p><em>{{ message.level_tag|title }}:</em> {{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table>
                <label>Initials
                    {{ form.initials }}
                </label>
                <br><br>
                <label>Date
                    {{ form.date }}
                </label>
                <br><br>
                <label>Please confirm that you have read and understood the information above and consent to participate in this study
                    {{ form.signed }}
                </label>
                <br><br>
                <input type="submit" value="Submit">
            </table>
        </div>
    </form>


      <br>
      <a href="{% url 'home' %}" >I think I've changed my mind, take me back</a>
      <br><br>
      </div>
    </form>
  </div>
{% endblock %}
