{% extends 'base.html' %}
{% block content %}
<div style="max-width: 95%; margin: 0 auto;">
    <div class="bg-primary text-light px-4 py-6 text-center">
        <br>
        <h2>Please tell us a bit about yourself</h2>
        <p>For monitoring purposes, please complete this short anonymous form to tell us a bit about you.</p>
        <br>
    </div>
    <form method="post">
    {% csrf_token %}
    <div style="max-width: 60%; margin: 0 auto;" class="table-responsive">
        <br>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td style="text-align: left; padding-right: 10px;">Gender</td>
                <td style="text-align: right; padding-left: 10px;"><div style="width: 100%;">{{ form.gender }}</div></td>
            </tr>
        </table>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td style="text-align: left;">Age</td>
                <td style="text-align: right; "><div style="width: 100%;">{{ form.age }}</div></td>
            </tr>
        </table>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td style="text-align: left;">Ethnicity</td>
                <td style="text-align: right;"><div style="width: 100%;">{{ form.ethnicity }}</div></td>
            </tr>
        </table>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td style="text-align: left;">Occupation*</td>
                <td style="text-align: right;"><div style="width: 100%;">{{ form.occupation }}</div></td>
            </tr>
        </table>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td style="text-align: left;">Highest Level of Education</td>
                <td style="text-align: right;"><div style="width: 100%;">{{ form.education }}</div></td>
            </tr>
        </table>
        <br>
        <br>
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 50px 0;">
                <td colspan="2"><input type="submit" value="Submit" class="btn btn-primary"></td>
            </tr>
        </table>
    </div>
</form>
    <br>
    <p><em>*For more information about each occupation type, please visit the <a href="https://www.ons.gov.uk/methodology/classificationsandstandards/standardoccupationalclassificationsoc/soc2020/soc2020volume1structureanddescriptionsofunitgroups">ONS Website</a> for details of the Standard Occupational Classification (SOC) system (table 2).</em></p>
</div>
{% endblock %}
