{% extends 'base.html' %}
{% block content %}
<div style="max-width: 95%; margin: 0 auto;">
    <div class="bg-primary text-light px-4 py-6 text-center">
        <h2>Please tell us a bit about yourself</h2>
        <p>For monitoring purposes, please complete this short anonymous form to tell us a bit about you.</p>
        <br>
    </div>
    <form method="post">
    {% csrf_token %}
    <div class="table-responsive">
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="padding: 10px 0;">
                <td style="width: 30%; text-align: right; padding-right: 10px;">Gender</td>
                <td style="width: 70%; text-align: left; padding-left: 10px;"><select class="uniform-dropdown">{{ form.gender }}</select></td>
            </tr>
            <tr style="padding: 10px 0;">
                <td style="width: 30%; text-align: right; padding-right: 10px;">Age</td>
                <td style="width: 70%; text-align: left; padding-left: 10px;"><select class="uniform-dropdown">{{ form.age }}</select></td>
            </tr>
            <tr style="padding: 10px 0;">
                <td style="width: 30%; text-align: right; padding-right: 10px;">Ethnicity</td>
                <td style="width: 70%; text-align: left; padding-left: 10px;"><select class="uniform-dropdown">{{ form.ethnicity }}</select></td>
            </tr>
            <tr style="padding: 10px 0;">
                <td style="width: 30%; text-align: right; padding-right: 10px;">Occupation*</td>
                <td style="width: 70%; text-align: left; padding-left: 10px;"><select class="uniform-dropdown">{{ form.occupation }}</select></td>
            </tr>
            <tr style="padding: 10px 0;">
                <td style="width: 30%; text-align: right; padding-right: 10px;">Highest Level of Education</td>
                <td style="width: 70%; text-align: left; padding-left: 10px;"><select class="uniform-dropdown">{{ form.education }}</select></td>
            </tr>
            <tr style="padding: 10px 0;">
                <td colspan="2"><input type="submit" value="Submit" class="btn btn-primary"></td>
            </tr>
        </table>
    </div>
</form>
    <br>
    <p><em>*For more information about each occupation type, please visit the <a href="https://www.ons.gov.uk/methodology/classificationsandstandards/standardoccupationalclassificationsoc/soc2020/soc2020volume1structureanddescriptionsofunitgroups">ONS Website</a> for details of the Standard Occupational Classification (SOC) system (table 2).</em></p>
</div>
    {% endblock %}

