{% extends 'base.html' %}

{% block content %}
<div style="max-width: 95%; margin: 0 auto;">
    <h2>Introduction</h2>
    <p>Welcome to our pilot study! In today's digital world, fake news is a serious concern that can influence how adults perceive information and make decisions. We are here to help you identify fake news and tackle misinformation.</p>
    <p>Our study seeks to understand which strategies can be used to help people to gain confidence when assessing news stories.</p>
    <p>We've created a user-friendly website where anyone over the age of 18 can participate in our study. You'll find all the information you need to make informed choices and contribute to our research on the next few pages.</p>
    <p>By joining our pilot study, you'll be helping us understand how to best combat fake news for adults. Together, we can create a more informed society and empower individuals to be critical thinkers.</p>
    <br>

    <form action="{% url 'method' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary indented-button">Click here to get involved</button>
    </form>
</div>

{% endblock %}


