{% extends 'base.html' %}

{% block content %}
<div style="max-width: 95%; margin: 0 auto;">
    <h2>Introduction</h2>
    <p>Welcome to our pilot study! In today's digital world, fake news is a serious concern that can influence how adults perceive information and make decisions. We are here to help you identify fake news and tackle misinformation with our innovative approach.</p>
    <p>Our study uses gamification, which means we apply game elements to make learning engaging and effective. Through interactive quizzes and challenges, you'll gain valuable skills in spotting fake news like a pro!</p>
    <p>We've created a user-friendly website where adults can participate in our study. You'll find all the information you need to make informed choices and contribute to our research.</p>
    <p>By joining our pilot study, you'll be helping us understand how to best combat fake news for adults. Together, we can create a more informed society and empower individuals to be critical thinkers. Join us now and become a part of the fight against fake news!</p>
    <br>

    <form action="{% url 'method' %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary indented-button">Click here to get involved</button>
    </form>
</div>

{% endblock %}


