{% extends 'base.html' %}

{% block content %}
<div style="max-width: 95%; margin: 0 auto;">
    <h2>The Project</h2>
    <p>Participating in our study is easy and informative, you'll be asked to read the ethics briefing form and provide your consent to join the study.</p>
    <p>Next, we'll gather some basic demographic information to better understand our participant group. After that, you'll take a quiz to assess your current ability to identify fake news; don't worry too much, this is just to get a baseline reading and all results will be anonymised.</p>
    <p>We'll then start the tutorial in which you will watch a series of short videos which will help you to learn valuable skills that will help you to better understand and detect fake news.</p>
    <p>Once you have watched the video, you will either be taken to a summary page, or you will get the chance to take a short quiz on the material from the tutorial; if you do see the quiz, please make sure you complete it before moving to the next topic.</p>
    <p>Once you have completed the tutorial, as well as any relevant quizzes, you will be asked to retake the initial quiz.</p>
    <p>After this has been completed, for those who are interested, there's an optional debriefing session, where we'll a series of multiple choice questions about your experience.</p>
    <p>If you have any questions about the project, process, data handling or anything else please <a href="{% url 'contact' %}">get in touch.</a></p>
    </ol>
    <br>
    <form action="{% url 'consent_create' %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary indented-button">I understand and am happy to continue</button>
    </form>
    <br>
    <p>&nbsp;&nbsp;<a href="{% url 'home' %}">I'd rather not continue, take me back.</a></p>
    <br>
</div>
{% endblock %}
