{% extends 'base.html' %}
<head>
    <style>
        .response-form-container ul {
            list-style-type: none;
        }
    </style>
</head>
{% load static %}

{% block content %}
<div class="text-center" style="max-width: 80%; margin: 0 auto;">
    <h2>Question {{ question.id }}</h2>
    <p>{{ question.summary|linebreaksbr|safe }}</p>
    <p>{{ question.details|linebreaksbr|safe }}</p>
    <br>
    <img src="{% static question.image %}" alt="Image associated with scenario" style="max-width: 60%; margin: 0 auto;">
    <br><br><br>
    <p><i>{{ question.link|safe }}</i></p>
    <br>
    <hr style="border: 1px dashed #C0C0C0; color: #FFFFFF; max-width: 60%; margin: 0 auto;">
    <br>
    <h2>Quiz</h2>

<form method="post" class="response-form-container" action="{% url 'submit_response' participant_id=participant_id question_number=question.id question_attempt=question_attempt %}">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
                <div class="form-group">
                    <div class="switch">
                        <h6><label><span class="lever"></span> {{ form.response.label }}</label></h6>
                            {{ form.response }}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <h6><label for="{{ form.confidence.label }}">{{ form.confidence.label }}</label></h6>
                    {{ form.confidence }}
                </div>
                <br>
                <div class="form-group">
                    <h6><label for="{{ form.reason.label }}">{{ form.reason.label }}</label></h6>
                    {{ form.reason }}
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-dark">
                </div>
            </div>
        </div>
    </div>
</form>




</div>
{% endblock %}
