{% extends 'base.html' %}

{% block content %}
    <h2>{{ question.summary }}</h2>
    <br>
    <img src="{{ question.image.url }}" alt="{{ question.summary }}">
    <br>
    <p>{{ question.details }}</p>
    <br>
    <hr>
    <br>

<form method="post" class="response-form-container" action="{% url 'submit_response' participant_id=participant_id question_number=question.id question_attempt=question_attempt %}">
    {% csrf_token %}
    <input type="hidden" name="participant_id" value="{{ participant_id }}">
    <input type="hidden" name="question_number" value="{{ question.id }}">
    <input type="hidden" name="question_attempt" value="{{ question_attempt }}">
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

{% endblock %}
